@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');

:root{
  --backgroundDiv: #c4f8ff;
  --corFontAzul: #00b3ff;
}
html{
  width: 100%;
  height: 100vh;
}
body{
  background: #fff;
  font-family: 'Roboto Condensed', Arial;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

h1, h2, h3, h4, h5{
  font-family: 'Merriweather', sans-serif;
  text-align: center;
}

div p{
  text-align: center;
}

header{
  margin-top: 1px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  background: rgb(0,28,255);
background: linear-gradient(90deg, rgba(0,28,255,1) 25%, rgba(0,212,255,1) 100%);
}

h1{
  margin: 0;
  text-align: center;
  color: #fff;
}

form{
    width: 100%;
    max-width: 350px;
    margin-top: 0;
    text-align: center;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 4px;
}

.single-input{
    position: relative;
    margin: 30px 0;
    background: transparent;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}


.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
  /*  color: rgb(80,80,80);*/
    transition: 0.5s ease-in-out;
    background: transparent;
}

.input:focus,
.input:valid{
    border-bottom: 2px solid #fff;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-25px);
    font-size: 12px;
    color: #fff;
}

input[type="submit"] {
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  color: #000;
}

footer{
  background: rgb(0,28,255);
background: linear-gradient(90deg, rgba(0,28,255,1) 25%, rgba(0,212,255,1) 100%);
  color: #fff;
}

#icon-i{
  bottom: 2px;
  margin-left: 86%;
  position: fixed;
}

#icon-t{
  bottom: 3.3rem;
  margin-left: 86%;
  position: fixed;
}

@media screen and (min-width: 900px) {
  html{
    width: 1024px;
  }
  body{
    width: 1024px;
  }
}
